<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PCApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
    
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://www.sharon-se-server.dynu.com:9001/SyncService" binding="netTcpBinding" bindingConfiguration="IPSync_netTcpEndPoint" contract="IPSyncServiceReference.IIPSync" name="IPSync_netTcpEndPoint">
        <identity>
          <userPrincipalName value="Sharon-PC\Sharon" />
        </identity>
      </endpoint>
      <endpoint address="http://www.sharon-se-server.dynu.com:9004/Login" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserLogin" contract="UserLoginServiceReference.IUserLogin" name="BasicHttpBinding_IUserLogin" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserLogin" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="IPSync_netTcpEndPoint" />
      </netTcpBinding>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web_behavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="DataStreaming.StreamService">
        <endpoint address="" behaviorConfiguration="web_behavior" binding="webHttpBinding" contract="DataStreaming.IStreamService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9003/StreamService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <userSettings>
    <PCApplication.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Token" serializeAs="String">
        <value />
      </setting>
      <setting name="SafeIP" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="IsLogged" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsServerRunning" serializeAs="String">
        <value>False</value>
      </setting>
    </PCApplication.Properties.Settings>
  </userSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ContentContext" connectionString="metadata=res://*/ContentModel.csdl|res://*/ContentModel.ssdl|res://*/ContentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\Projects;initial catalog=ContentDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>